<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" >

     <Properties>
        <!--<Property name="logPattern">%d{dd-MM-yyyy HH:mm:ss,SSS} %-5p %l - %m%n</Property>-->
        <Property name="logPattern">%-5p - %m%n</Property>
    </Properties>
    
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}" />
        </Console>
    </Appenders>

    <Loggers>   
        <Root level="INFO" >
            <AppenderRef ref="Console" />
        </Root>
        
        <!--<logger name="org.springframework" level="OFF" additivity="false"/>-->
        
    </Loggers>
</Configuration>